@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Atkinson Hyperlegible Mono, monospace;
    font-size: 20px;
}
#typewriter-text {
    

}
#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}
.nav-links a:hover {
    text-decoration: underline;
    color: gray;
    transform: scale(1.2);
}

